@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(43, 142, 255);
}

.title {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: "Google Sans", sans-serif;
}

.subtitulo {
    color: whitesmoke;
    font-size: 32px;

}

#seleccionarMascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas, .tarjetasAtaques{
    display: flex;
    gap: 10px;
}

.tarjetaDeMokepon {
    width: 180px;
    height: 180px;
    background-color: rgb(0, 102, 255);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.tarjetaDeMokepon img {
    width: 150px;
}

input {
    display: none;
}

input:checked+.tarjetaDeMokepon {
    border: 3px solid red;
    box-shadow: 0 0 10px red;

}

#bselMascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    user-select: none;
}

#seleccionarAtaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bataque {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: rgb(0, 102, 255);
    border: 1px solid transparent;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    color: whitesmoke;
}

#mensajes {

    align-items: center;
    width: 180px;
    padding: 20px;
    background: antiquewhite;
    margin-top: 20px;
    border-radius: 30px;
    flex-direction: column;
}

.oculto {
    display: none;
}

#bReiniciar {
    border: none;
    background-color: rgb(0, 102, 255);
    color: white;
    font-family: "poppins", sans-serif;
    border-radius: 20px;
}

.Bataque:disabled {
    background: rgb(0, 102, 255);
    cursor: not-allowed;
}

.Ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}
#spanVidaJ,#spanVidaE{
    font-size: 32px;
    margin-bottom: 0;
}
.AtaquesJugador,.AtaquesEnemy{
    display: flex;
    flex-direction: column;

}
#verMapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#verMapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid;
    font-family: "Poppins", sans-serif;
    margin: 05px 0;
}

/* Movil */
@media(max-width: 560px) {
    .tarjetas {
        flex-direction: column;
    }

    .tarjetasAtaques {
        flex-direction: column;
    }
}

@media(max-width: 300px) {
    #verMapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
